<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mane page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
    <h2>Heeello world</h2>
    <strong>жирный текст</strong><br>
    <em>курсивный текст</em><br>
    <a href="http://127.0.0.1:8000/home/">Нажми сюда</a>
    {{age}}
    <p> пупупукп </p>
<input type="button" value="Button">
<input type="button" value="Кнопка2">



</body>
</html>