<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интервью</title>
    <link rel="stylesheet" type="text/css" href="/static/books/css/interview.css">
</head>
<body bgcolor="#964b00">

<div class="info">
    <div class="leftinfo">
        Интервью
    </div>

    <div class="center">
        <div class="logo">
            <a href="">TAM.BY</a>
        </div>
    </div>

    <div class="time">
        {{time_now|date:'H:i'}}
    </div>

</div>

<div class='all news' style="width:86%; height: 100%; margin-left: auto;
    margin-right: auto; background-color:white; text-align: center">
    <hr>
    {% for p in news %}
    <h2>{{p.title}}</h2>
    <hr>
    {% endfor %}
</div>

</body>
</html>